<!DOCTYPE html>
<html ng-app="taskApp">
    <head>
        <title>Task</title>
        <meta http-equiv="Content-Type" content = "test/html;charset=utf-8"/>
    </head>
    <body>
        <div ng-controller="taskCtrl">
            <h2>Tâche à ajouter : </h2>
            <form ng-submit="addTask()">
                <input type='texte' ng-model="newtask"/>
                <input type='submit' value='Ajouter'/>
            </form>
            <br><br>
            <h2>Liste des tâches : </h2>
            <div ng-repeat="ta in tasks track by $index">
                    <span ng-bind="ta.name" ng-dblclick="delete($index)" onmouseover="" style="cursor: pointer;" ng-click="check($index)"
                    ng-style="ta.done ? {'text-decoration': 'line-through'} : {'text-decoration': 'none'}">
                    </span>
                </div>
        </div>

        <script src="angularjs.js"></script>
        <script>
            var taskApp = angular.module('taskApp', []);
            taskApp.controller('taskCtrl', ['$scope', function($scope) {
                $scope.load = function(){
                    $scope.tasks = localStorage.getItem("tasks") 
                    ? JSON.parse(localStorage.getItem("tasks"))
                    : [];
                };

                $scope.addTask = function(){
                    $scope.tasks.push({name : $scope.newtask, 
                                        done : false});
                    localStorage.setItem("tasks", JSON.stringify($scope.tasks));
                    $scope.newtask="";
                }

                $scope.check = function(index){
                    $scope.tasks[index].done = !$scope.tasks[index].done;
                    localStorage.setItem("tasks", JSON.stringify($scope.tasks));
                    $scope.newtask="";
                }

                $scope.delete = function(index){
                    $scope.tasks.splice(index, 1)
                    localStorage.setItem("tasks", JSON.stringify($scope.tasks));
                    $scope.newtask="";
                }

                $scope.load();
            }]);
        </script>
    </body>
</html>